In [1]:
#This is a long comment
#and it extends
#to multiple lines

"""This is also a
perfect example of
multi-line comments"""

''' this is a multiline
comment'''

' this is a multiline\ncomment'

In [2]:
#Variable assignments
a=10
b=20
a = 5; d=10 
b , c= 3.2 , "Hello"
x = y = z = "WOrld"

#print() function

print(c)
print()
print("Value of a=",a)
print("value of b=\n",b)
print(b,c)
print(b,c,sep=",")
c
print(b)

Hello

Value of a= 5
value of b=
 3.2
3.2 Hello
3.2,Hello
3.2

In [3]:
#Division operation in Python
print(1/3)

print(1//3) #floored division

print(7%3)

b=1/3
print(round(b,4))
#print(round(1/3,2))

0.3333333333333333
0
1
0.3333

In [4]:
#Python does type inferencing automatically
a=5
b=3.2
print(type(b))
print(a+b)
a="5"
b="3.2"
print(a+b,b+a,sep=",")
print(type(b))

<class 'float'>
8.2
53.2,3.25
<class 'str'>

In [5]:
#User input

name=input("Enter your name: ")
print("Hello ",name)

Enter your name: Nikita
Hello  Nikita

In [6]:
#type casting the input which is in string format by default
num1=float(input("Enter the 1st num:"))
num2=float(input("Enter the 2nd num:"))
print(num1+num2)

Enter the 1st num:10
Enter the 2nd num:20
30.0

In [7]:
#Simple if-else structure
x=20
y=10

if x<y:
    
    print("This is the first block")
    print("X is less than Y")

else:
    print("This is the second block")
    print("X is greater than Y")

print("Done")

This is the second block
X is greater than Y
Done

In [8]:
#Nested if-else structure 
x=10
y=8

if x==y:
    print("X and Y are equal")
else:
    if x<y:
        print("X is less than Y")
    else:
        print("X is greater than Y")
    print("Executed")
print("Done")

X is greater than Y
Executed
Done

In [9]:
#Conditional Execution statement
#If-elif-elif-else ladder

salary=80000

if salary<30000:
    print("This is the first salary bracket")
    print("Employee belongs to Low Income Group")
elif salary<60000:
    print("This is the second salary bracket")
    print("Employee belongs to Medium Income Group")
elif salary<100000:
    print("This is the third salary bracket")
    print("Employee belongs to High Income Group")
else:
    print("This is the fourth salary bracket")
    print("Employee belongs to  Very High Income Group")

print("Done")

This is the third salary bracket
Employee belongs to High Income Group
Done

In [10]:
#Check for even odd number
num1=float(input("Enter the num:"))
if num1%2==0:
    print(num1, "is an even number")
else:
    print(num1, "is an odd number")

Enter the num:23
23.0 is an odd number

In [11]:
#multiple condition checking using logical operators
x=7;y=5
if x>6 and y<7:
    #T and F==>F
    print('x is a positive single-digit number')
#AND-->&
#OR-->|
#NOT-->!

x is a positive single-digit number

In [12]:
#multiple condition evaluation
x=11;y=9
if ((x >7) and (y>7)) or (x==y):
    #(F AND T) OR F
    #F OR F==>F
    print('x is a positive single-digit number.')

x is a positive single-digit number.

In [13]:
"""
AND-->iff T And T=T else F
OR-->iff F OR F=F else T
"""

'\nAND-->iff T And T=T else F\nOR-->iff F OR F=F else T\n'

In [14]:
# user defined function
#function definition
def area_cube(a):
    print("value is = ",a)
    return a*a*a
#return will return a value which could be stored in a separate variable to be used later
#print will just display the value as a message which cannot be stored and used later

In [15]:
#function call
#area=area_cube(8)
#print(area)

value=float(input("enter a number:"))
area_cube(value)

enter a number:12
value is =  12.0

1728.0

In [16]:
#parameterized UDF
def add(b,r):
    print("first",b)
    print("second",r)
    return b+r


total=add(3,4)
print(total)

first 3
second 4
7

In [17]:
#parameterless UDF
def hi():
    print("Hello User!")

In [18]:
hi()

Hello User!

In [19]:
#UDF with user input
def addition():
    num1=int(input())
    num2=float(input())
    return num1+num2

addition()

21
17.8

38.8

In [20]:
#Area of circle
def area_circle(r):
    num=3.14*r*r
    print(num)

In [21]:
area_circle(5)

78.5

In [22]:
#Types of Loops
"""
1.While-->conditional
2.For-->iterative
"""

'\n1.While-->conditional\n2.For-->iterative\n'

In [23]:
"""
1.initialiation of the iterator variable-->count=0
2.condition evaluation-->while(count<5)
3.incrementation/decrementation-->count=count+1

"""
#Incrementation syntax
#count+=1
#count=count+1

'\n1.initialiation of the iterator variable-->count=0\n2.condition evaluation-->while(count<5)\n3.incrementation/decrementation-->count=count+1\n\n'

In [24]:
#while loop
count=0
while count<5:
    print(count)
    count=count+1
else:
    print("The loop exited because count =",count)

0
1
2
3
4
The loop exited because count = 5

In [25]:
#Print the even numbers from 2 to 50 using the while loop
count=2
while count<=50:
    print(count)
    count=count+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [26]:
#Print the even numbers from 50 to 2 using the while loop
count=50
while count>=2:
    print(count)
    count=count-2

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [27]:
#check for even odd numbers using while loop
count=1
while count<=50:
    if count%2==0:
        print(count," is an even number")
    else:
        print(count," is an odd number")
    count=count+1

1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number
11  is an odd number
12  is an even number
13  is an odd number
14  is an even number
15  is an odd number
16  is an even number
17  is an odd number
18  is an even number
19  is an odd number
20  is an even number
21  is an odd number
22  is an even number
23  is an odd number
24  is an even number
25  is an odd number
26  is an even number
27  is an odd number
28  is an even number
29  is an odd number
30  is an even number
31  is an odd number
32  is an even number
33  is an odd number
34  is an even number
35  is an odd number
36  is an even number
37  is an odd number
38  is an even number
39  is an odd number
40  is an even number
41  is an odd number
42  is an even number
43  is an odd number
44  is an even number
45  is an odd number
46  is an even number
47  is an odd number
48  is an even number
49  is an odd number
50  is an even number

In [28]:
#printing table of 10 using while loop
i=1
while(i<=10):
    print("10 *",i," = ",10*i)
    i=i+1

10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100

In [29]:
#for is an iterative loop that traverses through every element of a given data structure
#and applies the same logic on each element
friends = ['A', 'B', 'C',3.6]
for f in friends:
    print('Happy Diwali', f)

Happy Diwali A
Happy Diwali B
Happy Diwali C
Happy Diwali 3.6

In [30]:
#printing table of 10 using while loop
for i in range(1,11):
    print("10 * ",i," = ",10*i)

10 *  1  =  10
10 *  2  =  20
10 *  3  =  30
10 *  4  =  40
10 *  5  =  50
10 *  6  =  60
10 *  7  =  70
10 *  8  =  80
10 *  9  =  90
10 *  10  =  100

In [31]:
#printing in the reverse order using a for loop
friends = ['A', 'B', 'C',3.6]
for f in friends[::-1]:
    print('Happy Diwali', f)

Happy Diwali 3.6
Happy Diwali C
Happy Diwali B
Happy Diwali A

In [32]:
#use of break statement

count=0
while(count<6):
    print(count)
    if count==3:
        break
    count +=1

0
1
2
3

In [33]:
#use of pass statement
def test_string(s):
    upcase=lowcase=0
    for c in s:
        if c.isupper():
            upcase+=1
        elif c.islower():
            lowcase+=1
        else:
            pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", upcase)
    print ("No. of Lower case Characters : ", lowcase)
    
test_string("My Name is NIkitA")

Original String :  My Name is NIkitA
No. of Upper case characters :  5
No. of Lower case Characters :  9

In [34]:
#lambda function
x = lambda a : a + 10
print(x(5))

15

In [35]:
x = lambda a, b : a * b
print(x(10, 6))

60

In [36]:
def cube(y): 
    return y*y*y

print(cube(5)) 


g = lambda x: x*x*x 
print(g(5))

125
125

**Opening,reading and writing text files**

In [37]:
#Opening a file in the read mode and displaying the content
fname = input('Enter the file name: ')
try:
    my_file = open(fname)
except FileNotFoundError:
    print('File cannot be opened', fname)
finally:
    print("This is the finally block which will always get executed.")

count=0
for line in my_file:
    print(line)
    count = count + 1
    
print('Line Count:', count)

Enter the file name: C:\Users\Nikita Tandel\mypython\niks\niks\sample.txt
This is the finally block which will always get executed.
This is a sample file.

Just trying to check

how to read and display the file content.
Line Count: 3

In [39]:
#Opening a file in the write mode and writing content to it

file_write = open(r'C:\Users\Nikita Tandel\mypython\niks\niks\output_new.txt','a')

line1 = "Hey there!\n"
file_write.write(line1)

line2 = 'What are you doing?\n'
file_write.write(line2)

file_write.close()