In [ ]:
#This is a long comment
#and it extends
#to multiple lines

"""This is also a
perfect example of
multi-line comments"""

''' this is a multiline
comment'''

In [3]:
a=10
b=20
a = 5; d=10 
b , c= 3.2 , "Hello"
x = y = z = "WOrld"

print(c)
print()
print("Value of a=",a)
print("value of b=\n",b)
print(b,c)
print(b,c,sep=",")
c
print(b)

Hello

Value of a= 5
value of b=
 3.2
3.2 Hello
3.2,Hello
3.2

In [5]:
#Division operation in Python
print(1/3)

print(1//3) #floored division

print(7%3)

b=1/3
print(round(b,4))
#print(round(1/3,2))

0.3333333333333333
0
1
0.3333

This was the division operation in Python

In [8]:
a=5
b=3.2
print(type(b))
print(a+b)
a="5"
b="3.2"
print(a+b,b+a,sep=",")
print(type(b))

<class 'float'>
8.2
53.2,3.25
<class 'str'>

In [1]:
#User input

name=input("Enter your name: ")
print("Hello ",name)

Enter your name: Nikita
Hello  Nikita

In [3]:
num1=input()
num2=input()
print(num1*num2)

20
40

TypeError: can't multiply sequence by non-int of type 'str'

In [4]:
num1=float(input("Enter the 1st num:"))
num2=float(input("Enter the 2nd num:"))
print(num1+num2)

Enter the 1st num:12.5
Enter the 2nd num:35.8
48.3

In [6]:
x=20
y=10

if x<y:
    
    print("This is the first block")
    print("X is less than Y")

else:
    print("This is the second block")
    print("X is greater than Y")

print("Done")

This is the second block
X is greater than Y
Done

In [ ]:
x=5;y=3
if x<y:
    print("This is the first block of execution")
    print("X is less than Y")
else:
    print("This is the second block of execution")
    print("X is greater than Y")

print("this code is exiting")

In [7]:
x=10
y=8

if x==y:
    print("X and Y are equal")
else:
    if x<y:
        print("X is less than Y")
    else:
        print("X is greater than Y")
    print("Executed")
print("Done")

X is greater than Y
Executed
Done

In [1]:
#Conditional Execution statement
#If-elif-elif-else ladder

salary=80000

if salary<30000:
    print("This is the first salary bracket")
    print("Employee belongs to Low Income Group")
elif salary<60000:
    print("This is the second salary bracket")
    print("Employee belongs to Medium Income Group")
elif salary<100000:
    print("This is the third salary bracket")
    print("Employee belongs to High Income Group")
else:
    print("This is the fourth salary bracket")
    print("Employee belongs to  Very High Income Group")

print("Done")

This is the third salary bracket
Employee belongs to High Income Group
Done

In [2]:
num1=float(input("Enter the num:"))
if num1%2==0:
    print(num1, "is an even number")
else:
    print(num1, "is an odd number")

Enter the num:10
10.0 is an even number

In [4]:
x=7;y=5
if x>6 and y<7:
    #T and F==>F
    print('x is a positive single-digit number')
#AND-->&
#OR-->|
#NOT-->!

x is a positive single-digit number

In [7]:
#multiple condition evaluation
x=11;y=9
if ((x >7) and (y>7)) or (x==y):
    #(F AND T) OR F
    #F OR F==>F
    print('x is a positive single-digit number.')

x is a positive single-digit number.

In [ ]:
"""
AND-->iff T And T=T else F
OR-->iff F OR F=F else T
"""

In [2]:
# user defined function
#function definition
def area_cube(a):
    print("value is = ",a)
    return a*a*a
#return will return a value which could be stored in a separate variable to be used later
#print will just display the value as a message which cannot be stored and used later

In [3]:
#function call
#area=area_cube(8)
#print(area)

value=float(input("enter a number:"))
area_cube(value)

enter a number:12.5
value is =  12.5

1953.125

In [ ]:
def add(b,r):
    print("first",b)
    print("second",r)
    return b+r


total=add(3,4)
print(total)

In [4]:
def hi():
    print("Hello User!")

In [7]:
hi()

Hello User!

In [10]:
def addition():
    num1=int(input())
    num2=float(input())
    return num1+num2

addition()

10.5
15.6

26.1

In [ ]:

def area_circle(r):
    num=3.14*r*r
    print(num)

In [ ]:
area_circle(5)

In [ ]:

"""
1.While-->conditional
2.For-->iterative
"""

In [ ]:
"""
1.initialiation of the iterator variable-->count=0
2.condition evaluation-->while(count<5)
3.incrementation/decrementation-->count=count+1

"""

#count+=1
#count=count+1

In [1]:
count=0
while count<5:
    print(count)
    count=count+1
else:
    print("The loop exited because count =",count)

0
1
2
3
4
The loop exited because count = 5

In [2]:
#Print the even numbers from 2 to 50 using the while loop
count=2
while count<=50:
    print(count)
    count=count+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [3]:
#Print the even numbers from 50 to 2 using the while loop
count=50
while count>=2:
    print(count)
    count=count-2

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [4]:
count=1
while count<=50:
    if count%2==0:
        print(count," is an even number")
    else:
        print(count," is an odd number")
    count=count+1

1  is an odd number
2  is an even number
3  is an odd number
4  is an even number
5  is an odd number
6  is an even number
7  is an odd number
8  is an even number
9  is an odd number
10  is an even number
11  is an odd number
12  is an even number
13  is an odd number
14  is an even number
15  is an odd number
16  is an even number
17  is an odd number
18  is an even number
19  is an odd number
20  is an even number
21  is an odd number
22  is an even number
23  is an odd number
24  is an even number
25  is an odd number
26  is an even number
27  is an odd number
28  is an even number
29  is an odd number
30  is an even number
31  is an odd number
32  is an even number
33  is an odd number
34  is an even number
35  is an odd number
36  is an even number
37  is an odd number
38  is an even number
39  is an odd number
40  is an even number
41  is an odd number
42  is an even number
43  is an odd number
44  is an even number
45  is an odd number
46  is an even number
47  is an odd number
48  is an even number
49  is an odd number
50  is an even number

In [5]:
i=1
while(i<=100):
    print("10 *",i," = ",10*i)
    i=i+1

10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100
10 * 11  =  110
10 * 12  =  120
10 * 13  =  130
10 * 14  =  140
10 * 15  =  150
10 * 16  =  160
10 * 17  =  170
10 * 18  =  180
10 * 19  =  190
10 * 20  =  200
10 * 21  =  210
10 * 22  =  220
10 * 23  =  230
10 * 24  =  240
10 * 25  =  250
10 * 26  =  260
10 * 27  =  270
10 * 28  =  280
10 * 29  =  290
10 * 30  =  300
10 * 31  =  310
10 * 32  =  320
10 * 33  =  330
10 * 34  =  340
10 * 35  =  350
10 * 36  =  360
10 * 37  =  370
10 * 38  =  380
10 * 39  =  390
10 * 40  =  400
10 * 41  =  410
10 * 42  =  420
10 * 43  =  430
10 * 44  =  440
10 * 45  =  450
10 * 46  =  460
10 * 47  =  470
10 * 48  =  480
10 * 49  =  490
10 * 50  =  500
10 * 51  =  510
10 * 52  =  520
10 * 53  =  530
10 * 54  =  540
10 * 55  =  550
10 * 56  =  560
10 * 57  =  570
10 * 58  =  580
10 * 59  =  590
10 * 60  =  600
10 * 61  =  610
10 * 62  =  620
10 * 63  =  630
10 * 64  =  640
10 * 65  =  650
10 * 66  =  660
10 * 67  =  670
10 * 68  =  680
10 * 69  =  690
10 * 70  =  700
10 * 71  =  710
10 * 72  =  720
10 * 73  =  730
10 * 74  =  740
10 * 75  =  750
10 * 76  =  760
10 * 77  =  770
10 * 78  =  780
10 * 79  =  790
10 * 80  =  800
10 * 81  =  810
10 * 82  =  820
10 * 83  =  830
10 * 84  =  840
10 * 85  =  850
10 * 86  =  860
10 * 87  =  870
10 * 88  =  880
10 * 89  =  890
10 * 90  =  900
10 * 91  =  910
10 * 92  =  920
10 * 93  =  930
10 * 94  =  940
10 * 95  =  950
10 * 96  =  960
10 * 97  =  970
10 * 98  =  980
10 * 99  =  990
10 * 100  =  1000

In [6]:
#for is an iterative loop that traverses through every element of a given data structure
#and applies the same logic on each element
friends = ['A', 'B', 'C',3.6]
for f in friends:
    print('Happy Diwali', f)

Happy Diwali A
Happy Diwali B
Happy Diwali C
Happy Diwali 3.6

In [9]:
for i in range(1,101):
    print("10 * ",i," = ",10*i)

10 *  1  =  10
10 *  2  =  20
10 *  3  =  30
10 *  4  =  40
10 *  5  =  50
10 *  6  =  60
10 *  7  =  70
10 *  8  =  80
10 *  9  =  90
10 *  10  =  100
10 *  11  =  110
10 *  12  =  120
10 *  13  =  130
10 *  14  =  140
10 *  15  =  150
10 *  16  =  160
10 *  17  =  170
10 *  18  =  180
10 *  19  =  190
10 *  20  =  200
10 *  21  =  210
10 *  22  =  220
10 *  23  =  230
10 *  24  =  240
10 *  25  =  250
10 *  26  =  260
10 *  27  =  270
10 *  28  =  280
10 *  29  =  290
10 *  30  =  300
10 *  31  =  310
10 *  32  =  320
10 *  33  =  330
10 *  34  =  340
10 *  35  =  350
10 *  36  =  360
10 *  37  =  370
10 *  38  =  380
10 *  39  =  390
10 *  40  =  400
10 *  41  =  410
10 *  42  =  420
10 *  43  =  430
10 *  44  =  440
10 *  45  =  450
10 *  46  =  460
10 *  47  =  470
10 *  48  =  480
10 *  49  =  490
10 *  50  =  500
10 *  51  =  510
10 *  52  =  520
10 *  53  =  530
10 *  54  =  540
10 *  55  =  550
10 *  56  =  560
10 *  57  =  570
10 *  58  =  580
10 *  59  =  590
10 *  60  =  600
10 *  61  =  610
10 *  62  =  620
10 *  63  =  630
10 *  64  =  640
10 *  65  =  650
10 *  66  =  660
10 *  67  =  670
10 *  68  =  680
10 *  69  =  690
10 *  70  =  700
10 *  71  =  710
10 *  72  =  720
10 *  73  =  730
10 *  74  =  740
10 *  75  =  750
10 *  76  =  760
10 *  77  =  770
10 *  78  =  780
10 *  79  =  790
10 *  80  =  800
10 *  81  =  810
10 *  82  =  820
10 *  83  =  830
10 *  84  =  840
10 *  85  =  850
10 *  86  =  860
10 *  87  =  870
10 *  88  =  880
10 *  89  =  890
10 *  90  =  900
10 *  91  =  910
10 *  92  =  920
10 *  93  =  930
10 *  94  =  940
10 *  95  =  950
10 *  96  =  960
10 *  97  =  970
10 *  98  =  980
10 *  99  =  990
10 *  100  =  1000

In [11]:
friends = ['A', 'B', 'C',3.6]
for f in friends[::-1]:
    print('Happy Diwali', f)

Happy Diwali 3.6
Happy Diwali C
Happy Diwali B
Happy Diwali A

In [10]:
for i in range(1,int(input())):
    print("10 * ",i," = ",10*i)

101
10 *  1  =  10
10 *  2  =  20
10 *  3  =  30
10 *  4  =  40
10 *  5  =  50
10 *  6  =  60
10 *  7  =  70
10 *  8  =  80
10 *  9  =  90
10 *  10  =  100
10 *  11  =  110
10 *  12  =  120
10 *  13  =  130
10 *  14  =  140
10 *  15  =  150
10 *  16  =  160
10 *  17  =  170
10 *  18  =  180
10 *  19  =  190
10 *  20  =  200
10 *  21  =  210
10 *  22  =  220
10 *  23  =  230
10 *  24  =  240
10 *  25  =  250
10 *  26  =  260
10 *  27  =  270
10 *  28  =  280
10 *  29  =  290
10 *  30  =  300
10 *  31  =  310
10 *  32  =  320
10 *  33  =  330
10 *  34  =  340
10 *  35  =  350
10 *  36  =  360
10 *  37  =  370
10 *  38  =  380
10 *  39  =  390
10 *  40  =  400
10 *  41  =  410
10 *  42  =  420
10 *  43  =  430
10 *  44  =  440
10 *  45  =  450
10 *  46  =  460
10 *  47  =  470
10 *  48  =  480
10 *  49  =  490
10 *  50  =  500
10 *  51  =  510
10 *  52  =  520
10 *  53  =  530
10 *  54  =  540
10 *  55  =  550
10 *  56  =  560
10 *  57  =  570
10 *  58  =  580
10 *  59  =  590
10 *  60  =  600
10 *  61  =  610
10 *  62  =  620
10 *  63  =  630
10 *  64  =  640
10 *  65  =  650
10 *  66  =  660
10 *  67  =  670
10 *  68  =  680
10 *  69  =  690
10 *  70  =  700
10 *  71  =  710
10 *  72  =  720
10 *  73  =  730
10 *  74  =  740
10 *  75  =  750
10 *  76  =  760
10 *  77  =  770
10 *  78  =  780
10 *  79  =  790
10 *  80  =  800
10 *  81  =  810
10 *  82  =  820
10 *  83  =  830
10 *  84  =  840
10 *  85  =  850
10 *  86  =  860
10 *  87  =  870
10 *  88  =  880
10 *  89  =  890
10 *  90  =  900
10 *  91  =  910
10 *  92  =  920
10 *  93  =  930
10 *  94  =  940
10 *  95  =  950
10 *  96  =  960
10 *  97  =  970
10 *  98  =  980
10 *  99  =  990
10 *  100  =  1000

In [ ]:
x=7
y=5

if x<y:
    print("x is less than y")
else:
    print("x is greater than y")

In [ ]:
x=3
y=5

if x < y:

    print("This is the first block")
    print('x is less than y')

elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')
    
print("Done")

In [ ]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    
    else:
        print('x is greater than y')

print("done")

In [ ]:
x=5;y=8
if (x >7 & y>7) | (x!=y):
    #F OR T
    print('x is a positive single-digit number.')

In [ ]:
# user defined function

def square(a):
    print("value is = ",a)
    return a*a

In [ ]:
square(10)

#value=int(float(input("enter a number:")))
#square(value)

In [ ]:
def hi():
    print("Hello User!")

In [ ]:
hi()

In [ ]:
#conditional

count=0 #iterator variable initialization
while(count<5): #condition evaluation
    print(count)
    count +=1 #incrementation
    #count=count+1
else:
    print("count value reached " ,count)

In [ ]:
#iterative loop

friends = ['A', 'B', 'C',3.6]
for f in friends:
    print('Happy Diwali', f)

In [ ]:
for i in range(1,101):
    print(i)

In [ ]:
count=0
while(count<6):
    print(count)
    if count==3:
        break
    count +=1

In [ ]:
i=100
while(i>=70):
    if(i%2==0):
        print(i, " is an even number")
    i -=1